<%- include('../layouts/header') %>

<%- include('../layouts/adminNavbar') %>

<section class="section mb-4 mt-5">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-4">
        <div class="card text-center alert alert-danger">
          <div class="card-body">
            <h5 class="card-title">Number of Users</h5>
            <h1 class="card-text"><%= countUsers %></h1>
          </div>
        </div>
      </div> 
    </div>
    <div class="row justify-content-center">
      <div class="col-md-4">
        <div class="card text-center alert alert-warning">
          <div class="card-body">
            <h5 class="card-title">Number of Events</h5>
            <h1 class="card-text"><%= countEvents %></h1>
          </div>
        </div>
      </div> 
    </div>
    <div class="row justify-content-center">
      <div class="col-md-4">
        <div class="card text-center alert alert-success">
          <div class="card-body">
            <h5 class="card-title">Amount of Transaction</h5>
            <h1 class="card-text"><%= countTransactions %></h1>
          </div>
        </div>
      </div> 
    </div>
  </div>
</section>

<%- include('../layouts/footer') %>