<%- include('../layouts/header') %>

<%- include('../layouts/adminNavbar') %>

<section class="section mt-5 mb-5">
  <div class="container">
    <div class="row">
        <div class="col">
            <h1 class="text-center text-warning">TRANSACTION REPORT</h1><br>
            <a href="/admin/transactionReport" class="btn btn-warning"><i class="fa-solid fa-print"></i> Print Report</a><br><br>
            <table class="table">
                <thead>
                  <tr class="text-center">
                    <th scope="col">Transactions ID</th>
                    <th scope="col">Username</th>
                    <th scope="col">Full Name</th>
                    <th scope="col">Token of Event</th>
                    <th scope="col">Title of Event</th>
                    <th scope="col"></th>
                  </tr>
                </thead>                
                <tbody>
                <% data.forEach(i => { %>
                  <tr class="text-center">
                    <td><%= i.id %></td>
                    <td><%= i.User.username %></td>
                    <td><%= i.User.fullName%></td>
                    <td><%= i.Event.token %></td>
                    <td><%= i.Event.title %></td>
                    <td>
                      <a href="/admin/transactionData/<%= i.id %> " class="btn btn-danger btn-sm">Detail</a>
                    </td>
                  </tr>
                <% }) %>
                </tbody>
            </table>
        </div>
    </div>
  </div>
</section>

<%- include('../layouts/footer') %>