<%- include('./layouts/header') %>

<div class="container">
  <%- include('./layouts/navbar') %>
  <div class="row">
    <div class="col">
      <a href="/login" class="btn btn-primary">Login</a><br><br>
    </div>
  </div>
  <div class="row text-center">
    <% data.forEach(i => { %>
    <div class="col-md-4">
      <div class="card mb-3">
        <img src="/assets/img/bg-certif.jpg" class="card-img-top" alt="poster">
        <div class="card-body">
          <h5 class="card-title"><%= i.title %> </h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="/eventDetail/<%= i.id %>" class="btn btn-primary">Detail</a>
        </div>
      </div>
    </div>
    <% }) %>
  </div>
</div>

<%- include('./layouts/footer') %>