<div class="container">
  <div class="row">
      <div class="col mt-5">
          <h1 class="text-center">TRANSACTIONS REPORT FOR ADMIN</h1><br>
          <table class="table">
              <thead>
                <tr class="text-center">
                  <th scope="col">Transactions ID</th>
                  <th scope="col">Username</th>
                  <th scope="col">Full Name</th>
                  <th scope="col">Title of Event</th>
                  <th scope="col">Price</th>
                </tr>
              </thead>                
              <tbody>
              <% data.forEach(i => { %>
                <tr class="text-center">
                  <td><%= i.id %></td>
                  <td><%= i.User.username %></td>
                  <td><%= i.User.fullName%></td>
                  <td><%= i.Event.title %></td>
                  <td><%= i.Event.price %></td>
                </tr>
              <% }) %>
              </tbody>
          </table>
      </div>
  </div>
</div>