<div class="container">
  <div class="row">
      <div class="col mt-5">
        <a href="/login" class="btn btn-primary">Login</a><br><br>
          <h1 class="text-center">PERCOBAAN OUTPUT TABEL EVENTS</h1><br>
          <table class="table">
              <thead>
                <tr class="text-center">
                  <th scope="col">ID</th>
                  <th scope="col">Title</th>
                  <th scope="col">Date Start</th>
                  <th scope="col">Time Start</th>
                  <th scope="col">Price</th>
                  <th scope="col">Action</th>
                  <!-- <th scope="col" colspan="3"></th> -->
                </tr>
              </thead>                
              <tbody>
              <% data.forEach(i => { %>
                <tr class="text-center">
                  <td><%= i.eventID %></td>
                  <td><%= i.title %></td>
                  <td><%= i.dateStart%></td>
                  <td><%= i.timeStart %></td>
                  <td><%= i.price %></td>
                  <td><a href="/eventDetail/<%= i.id %>">Detail</a></td>
                  <!-- <td><a href="/history/<%= i.id %>"><i class="fas fa-history"></i></a></td>
                  <td><a href="/update/<%= i.id %>"><i class="fas fa-edit"></i></a></td>
                  <td><a href="/delete/<%= i.id %>"><i class="fas fa-trash-alt"></i></a></td> -->
                </tr>
              <% }) %>
              </tbody>
          </table>
      </div>
  </div>
</div>