<%- include('../layouts/header') %>

<%- include('../layouts/navbar') %>

<section class="section mt-5 mb-5">
  <div class="container">
    <div class="row justify-content-center mb-5">
      <div class="col-md-6">
        <div class="card mb-3">
          <div class="card-body">
            <h6 class="card-title text-center p-1 bg-warning">Transaction ID: <%= data.id %></h6>
            <h3 class="card-text text-center mt-3 mb-3"><%= data.Event.title %></h3>
            <table class="table">
                <tr>
                  <th>Name of Participant</th>
                  <td>: <%= data.User.fullName %></td>
                </tr>
                <tr>
                  <th>Date of Event</th>
                  <td>: <%= convertedEventDate %></td>
                </tr>
                <tr>
                  <th>Time of Event</th>
                  <td>: <%= convertedTimeStart %> - <%= convertedTimeEnd %></td>
                </tr>
            </table>
            <br>
            <div class="alert alert-warning text-center">
              <h6>Registered at :</h6>
              <p><%= data.createdAt %></p>
              <hr>
              <h6>Click link below to join the WhatsApp group <i class="fa-solid fa-down"></i></h6>
              <a href="https://chat.whatsapp.com/LlpCQHiamWwAFR2EJ89sDw">https://chat.whatsapp.com/LlpCQHiamWwAFR2EJ89sDw</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row text-center justify-content-center">
      <div class="col-md-6">
        <form method="POST" action="/matchTheToken/<%= data.id %>" target="_blank">
          <div class="mb-3">
            <label for="token" class="form-label">If you have finished participating in the webinar, input the token given by the event organizer to get an e-certificate.</label>
            <input type="text" class="form-control" id="token" name="token">
          </div>
            <button type="submit" class="btn btn-danger btn-sm">Match the Token</button>
        </form>
      </div>  
    </div>
  </div>
</section>

<%- include('../layouts/footer') %>